<div class="container text-center">
    <h1>About Page</h1>
    <p>We are DevMatch. Our company focuses on creating an exclusive community
    for developers and etrepeneurs to meet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, alias, sed porro pariatur cupiditate illo molestiae id quia exercitationem dolor eius modi repellendus repellat sunt similique vel a quam quos!</p>
</div>